@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* -----------------------------------------------------------------------------------_ */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100px;
  list-style: none;
}
.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover a {
  color: rgb(0, 247, 255);
}
.menu li:not(:last-child) {
  margin-right: 30px;
}
@keyframes line {
  0% {
    background-position-x: 390px;
  }
}


/* ----------------------------------------------------------------------------------------------------- */

hr{
    border: 1px solid;
    color: rgb(0, 247, 255);
    background-color: rgb(0, 247, 255);
    border-collapse: collapse;
}



body{
    background-color: rgb(61, 61, 61);
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    font-weight: 800;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    
    
}



.Überschrift{
    color: black;
    font-size: 50px;
    text-align: center;
    padding: 5px;

}


.Überschrift_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 25%;
    box-shadow: 15px 15px rgb(46, 46, 46);
    border: 1px solid  rgb(0, 247, 255);
    
}

.Überschrift_div_2{
    display: flex;
    justify-content: center;
    align-items: center;    
}



.Datenschutz_index{
    text-align: center;
    color: black;
    text-decoration: none;
  }
  
  .footer_index{
    text-align: center;
    color: black;
    text-decoration: none;
  
  }
  .Test{
    text-align: center;
    padding-bottom: 5px;
  }



.zweite_Überschrift{
    font-size: 35px;
    padding-left: 50px;
}


.zwischenüberschrift{
    font-size: 25px;
    padding-left: 50px; 
    text-decoration: underline;
}


.Text_Datenschutz{
    padding-left: 50px;
    padding-right: 50px;

}


.Umrandung{
    background-color: grey;
    padding: 5px;
    width: 80%;
    align-items: center;
    box-shadow: 15px 15px rgb(46, 46, 46);
    border: 1px solid  rgb(0, 247, 255);
}

.Umrandung2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}