@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
    background-color: grey;
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    font-weight: 800;
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.deck{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    
}

.card{
    background-color: black;
    color: black;
    text-indent: 0%;
    width: auto;
    height: auto;
    margin: 2%;
    flex: auto;
    flex-basis: 18%;
    text-align: center;

    padding-top: 10px;
    transform-style: preserve-3d;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px #008080;
    
}



.card_flipped{
    background-color: aqua;
    color: black;
    box-shadow: none;
 
    
    
}


.found{
    visibility: hidden;
    
}