.container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}

.deck{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.card{
    background-color: lime;
    width: auto;
    height: auto;
    margin: 2%;
    flex: auto;
    flex-basis: 18%;
}

.card_flipped{
    background-color: aqua;
}