@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
    background-color: rgb(61, 61, 61);
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    font-weight: 800;
    
    
}



.main{
    display: flex;
    justify-content: center;
}
.HUD{
    display: flex;
    background-color: grey;
    border: 1px solid  rgb(0, 247, 255);
    padding: 5px;
    width: 30%;
    height: 125px;
    justify-content: center;
    box-shadow: 15px 15px rgb(46, 46, 46);
    text-align: center;
    flex-direction: column;
    
}

.Counter{
    text-align: center;
    font-size: 30px;
    flex-basis: 100%;
   
    
    
    
    
}


.CounterGefunden{
    text-align: center;
    font-size: 30px;
    flex-basis: 100%;
    margin-top: -15px;
    position: relative;
    
    

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.deck{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 247, 255);
    padding: 20px;
    box-shadow: 15px 15px rgb(46, 46, 46);
    /* box-shadow: 10px 10px black; */
    
}

.card{
    background-color: black;
    color: black;
    text-indent: 0%;
    width: auto;
    height: auto;
    margin: 2%;
    flex: auto;
    flex-basis: 18%;
    text-align: center;

    padding-top: 10px;
    transform-style: preserve-3d;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px #008080;
    
}



.card_flipped{
    background-color: aqua;
    color: black;
    box-shadow: 5px 5px rgb(46, 46, 46) ;
 
    
    
}


.found{
    visibility: hidden;
    
}